{% extends "base.html" %}


{% block navbar_addition %}

<form class="form-inline my-2 my-lg-0 float-right">
        <small class="mr-2" id="filter-addon">Фильтр</small>
        <input class="form-control form-control-sm" aria-describedby="filter-addon" type="month" id="filter_month" placeholder="Месяц" style="width:150px;"/>
        <button class="btn btn-sm btn-outline-success" onclick="set_query_params()" type="button">Применить</button>
        <button class="btn btn-sm btn-outline-warning" onclick="clear_params()" type="button">Очистить</button>
</form>

{% endblock navbar_addition %}

{% block content %}

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <div class="row">
        <div class="col-md-3">
            <ul>
                <li>Общая сумма: {{ sum_summary }}</li>
                <li>Сумма возвратов {{ sum_returned }}</li>
                <li>Итог: {{ sum_with_returned }}</li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="accordion my-2 w-75 mx-auto" id="accordionAdding">
                {% include "invoice/components/addingInvoiceForm.html" %}
                {% include "invoice/components/basicAccordionForm.html" with form=returned_create_form submit_text="Создать" collapse_name="createReturned" form_name="Добавить возврат" url=returned_create_url %}
            </div>
        </div>
    </div>



    <ul class="nav nav-tabs" id="mainPageTabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="main-list-tab" data-toggle="tab" href="#main-list" role="tab" aria-controls="home" aria-selected="true">Список накладных</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="products-tab" data-toggle="tab" href="#products" role="tab" aria-controls="profile" aria-selected="false">Продукция</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="clients-tab" data-toggle="tab" href="#clients" role="tab" aria-controls="contact" aria-selected="false">Клиенты</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="returned-tab" data-toggle="tab" href="#returned" role="tab" aria-controls="returned" aria-selected="false">Возвраты</a>
      </li>
    </ul>

    <div class="tab-content p-2 border-left border-right border-bottom" id="mainPageTabsContent">

        <div class="tab-pane fade show active" id="main-list" role="tabpanel" aria-labelledby="main-list-tab">
            <div class="list-group">
            {% for invoice in invoices %}

                {% include "invoice/components/deleteInvoiceModal.html" with invoice=invoice %}
                <div class="list-group-item list-group-item-action">
                    <div class="d-flex w-100">
                        <a href="{% url 'invoice:details' invoice.id %}" class="mr-auto">
                            <h5 class="mb-0">Накладная {{ invoice.number }}</h5>
                        </a>
                        <small class="float-right mr-2">От {{ invoice.date }}</small>
                        <a href="{% url 'invoice:edit_invoice' invoice.id %}"><i class="fas fa-pen float-right text-warning"></i></a>
                        <a href="#" data-toggle="modal" data-target="#deleteInvoiceModal{{ invoice.id }}"><i class="far fa-times-circle float-right text-danger"></i></a>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-0">Кол-во: {{ invoice.sum_qty }}, Сумма: {{ invoice.sum_summary }}</p>
                        <small>Для {{ invoice.client }}</small>
                    </div>
                </div>
            {% empty %}
            Нет добавленных накладных.
            {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="products" role="tabpanel" aria-labelledby="products-tab">
            <table class="table table-sm table-bordered table-hover">
                <thead class="thead-light">
                <tr>
                    <th>№</th>
                    <th>Наименование</th>
                    <th>Кол-во</th>
                    <th>Сумма</th>
                    <th>Возврат кол-во</th>
                    <th>Возврат сумма</th>
                    <th>Итог кол-во</th>
                    <th>Итог сумма</th>
                </tr>
                </thead>
        {% for product in products_summary %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.sum_qty }}</td>
                    <td>{{ product.sum_summary }}</td>
                    <td>{{ product.sum_returned_qty }}</td>
                    <td>{{ product.sum_returned }}</td>
                    <td>{{ product.sum_with_returned_qty }}</td>
                    <td>{{ product.sum_with_returned }}</td>
                </tr>
        {% empty %}
                <tr><td colspan="8">Недостаточно информации</td></tr>
        {% endfor %}
            </table>
        </div>

        <div class="tab-pane fade" id="clients" role="tabpanel" aria-labelledby="clients-tab">
            <table class="table table-sm table-bordered table-hover">
                <thead class="thead-light">
                <tr>
                    <th>№</th>
                    <th>Клиент</th>
                    <th>Количество накладных</th>
                    <th>Кол-во</th>
                    <th>Сумма</th>
                    <th>Возврат кол-во</th>
                    <th>Возврат сумма</th>
                    <th>Итог кол-во</th>
                    <th>Итог сумма</th>
                </tr>
                </thead>

        {% for client in clients_summary %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ client.name }}</td>
                    <td>{{ client.sum_invoices }}</td>
                    <td>{{ client.sum_qty }}</td>
                    <td>{{ client.sum_summary }}</td>
                    <td>{{ client.sum_returned_qty }}</td>
                    <td>{{ client.sum_returned }}</td>
                    <td>{{ client.sum_with_returned_qty }}</td>
                    <td>{{ client.sum_with_returned }}</td>
                </tr>
        {% endfor %}
            </table>
        </div>

        <div class="tab-pane fade" id="returned" role="tabpanel" aria-labelledby="returned-tab">
            <table class="table table-sm table-bordered table-hover">
                <thead class="thead-light">
                <tr>
                    <th>№</th>
                    <th>Наименование</th>
                    <th>Дата</th>
                    <th>Кол-во</th>
                    <th>Сумма</th>
                    <th>Действие</th>
                    <th>Клиент</th>
                </tr>
                </thead>

        {% for return in returned %}
                <tr>
                    {% include "invoice/components/deleteReturnedModal.html" with returned=return %}
                    <td>{{ forloop.counter }}</td>
                    <td>{{ return.product }}</td>
                    <td>{{ return.date }}</td>
                    <td>{{ return.qty }}</td>
                    <td>{{ return.summary }}</td>
                    <td>{{ return.client }}</td>
                    <td>
                        <a href="#" data-toggle="modal" data-target="#deleteReturnedModal{{ return.id }}">
                            <i class="far fa-times-circle float-right text-danger"></i>
                        </a>
                    </td>
                </tr>
        {% empty %}
                <tr><td colspan="7">Недостаточно информации</td></tr>
        {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
