<div class="card">
    <div class="card-header py-1" id="addingInvoice" data-toggle="collapse" data-target="#collapseAddingInvoice" aria-expanded="true" aria-controls="collapseAddingInvoice">
          Добавить накладную
    </div>

    <div id="collapseAddingInvoice" class="collapse" aria-labelledby="addingInvoice" data-parent="#accordionAdding">
      <div class="card-body">
        <form action="{% url 'invoice:index' %}" method="post">
            <h5 class="card-title">Добавить накладную</h5>
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="invoice_number">Номер накладной</label>
                    <input class="form-control form-control-sm" type="number" name="invoice_number" id="invoice_number">
                </div>
                <div class="form-group col-md-6">
                    <label for="invoice_date">Дата накладной</label>
                    <input class="form-control form-control-sm" type="date" name="invoice_date" id="invoice_date">
                </div>
            </div>
            <div class="form-group">
                <label for="invoice_client">Покупатель</label>
                <select class="form-control form-control-sm" id="invoice_client" name="invoice_client">
                    {% for client in clients %}
                    <option value="{{ client.id }}">{{ client.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <input class="btn btn-primary" type="submit" value="Добавить">
        </form>
      </div>
    </div>
</div>
